data/*
**/22Q2_gene_effect/**
**/ExAC/**
**/fromIvan/**
**/MANE/**
**/output/**
**/.DS_store
**/*.pyc

chopchop/*
!chopchop/mart_export.txt
!chopchop/run_chopchop-genome.sh
!chopchop/chopchop_setup.md


!/data/22Q2_gene_effect/.gitkeep
!/data/ExAC/.gitkeep
!/MANE/.gitkeep
